.PokerCard {
  padding: 3px;
  margin: 2px;
  border-style: none;
  /* transform: rotate(3deg); */
  /*makes it easier to see the overlap*/
}


.ClickableCard {
  /*
  remove all button styles
  */
  background: none;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;

  width: 1000px;
  background-color: red;
}