.CardStackWrapper {
  /*
  remove all button styles
  */
  min-width: 300px;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  display: grid;
  grid-template-columns: repeat(minmax(10px, max-content), auto-fit);

  min-height: 400px;
  border-radius: 10px;
}

.CardStack {}

.CardStack> :nth-child(2) {
  transform: translateY(-80%);
}

.CardStack> :nth-child(3) {
  transform: translateY(-160%);
}

.CardStack> :nth-child(4) {
  transform: translateY(-240%);
}

.CardStack> :nth-child(5) {
  transform: translateY(-320%);
}

.CardStack> :nth-child(6) {
  transform: translateY(-400%);
}

.CardStack> :nth-child(7) {
  transform: translateY(-480%);
}

.CardStack> :nth-child(8) {
  transform: translateY(-560%);
}

.CardStack> :nth-child(9) {
  transform: translateY(-640%);
}

.CardStack> :nth-child(10) {
  transform: translateY(-720%);
}

.CardStack> :nth-child(11) {
  transform: translateY(-800%);
}

.CardStack> :nth-child(12) {
  transform: translateY(-880%);
}

.CardStack> :nth-child(13) {
  transform: translateY(-960%);
}

.CardStack> :nth-child(14) {
  transform: translateY(-1040%);
}

.CardStack> :nth-child(15) {
  transform: translateY(-1120%);
}

.CardStack> :nth-child(16) {
  transform: translateY(-1200%);
}

.CardStack> :nth-child(17) {
  transform: translateY(-1280%);
}